<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30600"> <!-- Behaviour -->
        <setting label="30610" type="enum" id="autoSkipMode" lvalues="30611|30612" default="0"/>
		<setting label="30620" type="bool" id="showPopupIfDisabled" default="true"/>
		<setting label="30630" type="bool" id="enableAPICalls" default="false"/>
        <setting label="30640" type="bool" id="enablePlaylist" default="false" enable="false"/>
        <setting label="30650" type="slider" id="defaultSkip" default="45" range="5,200" option="int" />
		<setting label="30660" type="slider" id="notificationTime" default="10" range="0,120" option="int" />
        <setting label="30670" type="lsep"/> 
    </category>
    <category label="30700"> <!-- Expert -->
        <setting label="30710" type="bool" id="disableSkipIntro" default="false"/>
        <setting label="30720" type="enum" id="logLevel" lvalues="30721|30722|30723" default="0"/>
    </category>
    <category label="30800"> <!-- Developer -->
        <setting label="30810" type="lsep"/> <!-- Test the GUI -->
        <setting label="30820" type="bool" id="enableDemoMode" default="false"/>
        <setting label="30830" type="action" action="RunScript(service.skipintro,test_window,script-skipintro.xml)"/>
    </category>
</settings>
